<form method="post" action="{{ path('app_test_cours_delete', {'id': test_cour.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ test_cour.id) }}">
    <a class="btn btn-danger">Delete</a>
</form>
