{% extends 'base.html.twig' %}

{% block title %}Edit TestCours{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('app_test_cours_index') }}"><i class="fa-solid fa-backward"></i> </a>

    <h1>Edit TestCours</h1>

    {{ include('test_cours/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('test_cours/_delete_form.html.twig') }}
{% endblock %}
