{% extends 'base.html.twig' %}

{% block title %}New TestCours{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('app_test_cours_index') }}"><i class="fa-solid fa-backward"></i> </a>

    <h1>Create new TestCours</h1>

    {{ include('test_cours/_form.html.twig') }}

{% endblock %}
